.ellipsis{
    display: inline-block;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 0;
}

.price{
    white-space: nowrap;
    font-weight: bold; 
    color: #209b20; 
    font-size: 14px;
}

.item-image{
    border: 1px solid #9c9c9c;
    border-radius: 4px;
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.link {
    padding: 0 0 5px 0;
}